body {
	background-color: #121212;
	color: #f8f9fa;
}
.header {
	background-color: #1c1c1c;
	padding: 20px 0;
}
.profile-image {
	border: 3px solid #343a40;
}
.social a {
	color: #f8f9fa;
}
.btn-cta-secondary {
	background-color: #343a40;
	color: #f8f9fa;
}
.section-inner {
	background-color: #1c1c1c;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 10px;
}
.divider {
	border-top: 1px solid #343a40;
}
