# [ zrfisaac ]

# [ about ]
# - author : Isaac Caires Santana
# . - email : zrfisaac@gmail.com
# . - site : zrfisaac.github.io
# - version : zrfisaac.gitignore : 26.8.30.5

# [ gitignore ]
*/
!.github/
!batch/
!chocolatey/
!content/
!content/**
!en/
!gitignore/
!pt/

# : - base
$*
_*
!*.github
!*.gitignore
!*_sidebar.md
