# [ zrfisaac ]

# [ about ]
# - author : Isaac Caires Santana
# . - email : zrfisaac@gmail.com
# . - site : zrfisaac.github.io
# - version : zrfisaac.gitignore : 26.2.17.1

# [ gitignore ]

# : - any
$*
_*
!.github
!.gitignore
!_sidebar.md

# : - folder
/albedo
/buy
/data
/default
/desktop
/docsify
/download
/fork
/game/*
/github
/install/*
/memory
/model
/music
/mvp/*
/old
/pexels/*.jpg
/pexels/*.png
/playground
/private
/product/*
/project/*
/reference
/repository
/research
/resource
/tool
/trash
/wiki
/work

# : - linux
/.android
/.anydesk
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.config
/.dart-tool
/.dartServer
/.dir_colors
/.dmrc
/.dosbox
/.eclipse
/.emulator_console_auth_token
/.face
/.flutter
/.gitconfig
/.gnupg
/.gradle
/.ICEauthority
/.java
/.lazarus
/.local
/.mozilla
/.ollama*
/.pki
/.profile
/.pub-cache
/.pulse-cookie
/.steam
/.steampath
/.steampid
/.swt
/.viminfo
/.vscode
/.wine
/.Xauthority
/.Xclients
/.xinitrc
/.xsession-errors
/.xsession-errors.old
/.zcompdump
/.zhistory
/.zshrc
