<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpErrors errorMode="Custom">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/404/index.html" responseMode="ExecuteURL" />
			<remove statusCode="500" subStatusCode="-1" />
			<error statusCode="500" prefixLanguageFilePath="" path="/500/index.html" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>
</configuration>
