<!-- # [ about ] -->
<!-- # - author : Isaac Caires Santana -->
<!-- # - email : zrfisaac@gmail.com -->
<!-- # - site : zrfisaac.github.io -->
<!-- # - version : zrfisaac.web.config : 25.7.24.1 -->

<!-- # [ xml ] -->
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".md" mimeType="text/markdown" />
        </staticContent>
    </system.webServer>
</configuration>
