# [ zrfisaac ]

# [ about ]
# - author : Isaac Caires
# . - email : zrfisaac@gmail.com
# . - site : zrfisaac.github.io
# - version : zrfisaac.docker.gitignore : 1.0.0

# [ gitignore ]
*history
*.dat
*.log
*.*-prev
.cache
.config/chromium
.config/dconf
.config/geany/geany*socket*
.config/geany/session.conf
.config/keybindings.conf
.config/session.conf
.config/gh
.config/GitHub Desktop
.config/pulse
.ICEauthority
.local
.mozilla
.pki
.xsession-*
.Xauthority
.wine
trash/*/
virtualbox/*/

# : - zrfisaac
.DS_Store
.git
.vs
_*
