# [ zrfisaac ]

# [ about ]
# - author : Isaac Caires
# . - email : zrfisaac@gmail.com
# . - site : zrfisaac.github.io
# - version : zrfisaac.video.gitignore : 1.0.0

# [ gitignore ]
*.mp3
*.mp4
cookies.txt

# : - zrfisaac
*.classified.*
.DS_Store
.git
*.private.*
.temp
.vs
_*
