app=/usr/bin/google-chrome-stable
custom_action_command=none
last_user=
last_extension=png
show_in_folder=false
screenshot_dir=file:///home/zrfisaac/picture
action=2
delay=0
region=3
show_mouse=1
show_border=1

